<div class="about-container">
    <div class="about-img-container">
        <div class="about-img-item">
            <img src="img/aboutme.jpg" alt="Img404notfound" class = "aboutme">
        </div>
    </div>
    
    <div class="about-text-container">
        <div class="about-text">
            <p>Website is more than cathy and stunning.  
                "My ultimate system" like to humanize the work and make one more memorable. 
                Apart from programming, I also like to do carpentry work.</p>
        </div>
    </div>
    
    <div class="about-hobbies-container">
        <div class="about-hobbies-items">
            <p>capentry & woodworking</p>
        </div>
        <div class="about-hobbies-items">
            <p>hiking</p>
        </div>
        <div class="about-hobbies-items">
            <p>fishing</p>
        </div>
        <div class="about-hobbies-items">
            <p>bitcoin</p>
        </div>
    </div>

    
</div>











