
<div class="content-container">
    <div class="message-container">
        <h2>Contact Details</h2>
        <div class="message-items">Email:</div>
        <p><%= email %></p>
        <div class="message-items">Address:</div>
        <p><%= address %></p>
        <div class="message-items">Phone:</div>
        <p><%= phone %></p>
    </div>



    <div class="contact-container"> 
        <div class="contact-form-container">
            <form>
                <div class="mb-3">
                  <label for="Name" class="form-label">Name/Contact</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="Message" class="form-label">Message</label><br>
                  <textarea name="Message" id="userMessage" cols="30" rows="5"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" id ="submit">Submit</button>
              </form>
        </div>
    </div>
    
</div>






