<h1>product</h1>

<div class="product-container">
    <div class="product-item">
    <img src="/img/ux1.png" alt="">
    <p>UI1</p>
    </div>
    <div class="product-item">
    <img src="/img/ux2.png" alt="">
    <p>UI2</p>
    </div>
    <div class="product-item">
    <img src="/img/ux3.png" alt="">
    <p>UI3</p>
    </div>
</div>