<h1>service</h1>

<div class="service-container">
    <div class="service-item">
    <img src="/img/response.jpg" alt="">
    <p>Web Responsiveness</p>
    </div>
    <div class="service-item">
    <img src="/img/manintenance.jpg" alt="">
    <p>High Maintenance</p>
    </div>
    <div class="service-item">
    <img src="/img/host.jpg" alt="">
    <p>Reliable Hosting</p>
    </div>
</div>